<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.safa.quickaction.prayerTimes</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Prayer Times</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>View today's prayer times</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>clock.fill</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.safa.quickaction.shareApp</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Share Safa</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Invite friends to Safa</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>square.and.arrow.up</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
